body {
    background: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #1c1c1c;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 321px;
}
button {
    background: #ff4da6;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}